﻿@using PagedList.Mvc
@model StockExchangeApp.Models.MainPageViewModel
<div class="row">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { id = "form", onsubmit = "return validateForm()" }))
    {
        <div class="form-horizontal">
            <h4>Podaj zakres dat</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="alert alert-danger" id="validationInfo" hidden></div>

            <div class="form-group">
                @Html.LabelFor(model => model.BeginDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BeginDate, new { htmlAttributes = new { @class = "form-control", id = "beginDate" } })
                    @Html.ValidationMessageFor(model => model.BeginDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @id = "endDate" } })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.Hidden(Model.PagedStockRecords.PageNumber.ToString());

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Wybierz" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

@if (Model.StockRecords == null || !Model.StockRecords.Any())
{
    <div class="alert alert-danger">
        <p>W wybranym zakresie dat nie ma żadnych wyników.</p>
    </div>
}

@if (Model.StockRecords != null && Model.StockRecords.Any())
{
    <div class="row" id="chart">
        <h4>Wykres wynikiów funduszu inwestycyjnego</h4>
        <hr />
        <canvas id="myChart" width="600" height="300"></canvas>
        <script>
            var labelsArray = [];
            var dataArray = [];
            pushEmptyValues(labelsArray, dataArray);
            @foreach (var d in Model.StockRecords)
            {
                @:labelsArray.push("@d.Date");
                @:dataArray.push("@d.Value ");
            }
            pushEmptyValues(labelsArray, dataArray);
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labelsArray,
                    datasets: [
                        {
                            fill: true,
                            label: 'Kurs [zł]',
                            data: dataArray
                        }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            function pushEmptyValues(labelsArray, dataArray){
                labelsArray.push("");
                dataArray.push(null);
            }

        </script>
    </div>

    <div class="row">

        <h4>Dane w formie tabelarycznej</h4>
        <hr/>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PagedStockRecords.ElementAt(0).Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PagedStockRecords.ElementAt(0).Value)
                    </th>
                </tr>

                @foreach (var item in Model.PagedStockRecords)
                {
                    if (item.Value != "null")
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Value)
                            </td>
                        </tr>
                    }
                }

            </table>
    </div>
}
<div>
    Page @(Model.PagedStockRecords.PageCount < Model.PagedStockRecords.PageNumber ? 0 : Model.PagedStockRecords.PageNumber) of @Model.PagedStockRecords.PageCount

    @Html.PagedListPager(Model.PagedStockRecords, page => Url.Action("Index", new { beginDate = @Model.BeginDate.ToString("yyyy-MM-dd"), endDate = @Model.EndDate.ToString("yyyy-MM-dd"), page }))
</div>