﻿@model StockExchangeApp.Models.ComparePageViewModel

@{
    ViewBag.Title = "Porównaj";
}

<div class="row">
    @using (Html.BeginForm("Index", "Compare", FormMethod.Post, new { id = "form", onsubmit = "return validateForm()" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Podaj dane lokaty</h4>
            <hr />
            <div class="alert alert-info">
                <p>
                    Miesięczna kapitalizacja - odsteki są kapitalizowane co 30 dni.<br />
                    Roczna kapitalizacja - odsetki są kapitalizowane co 365 dni.
                </p>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="alert alert-danger" id="validationInfo" hidden></div>

            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Interests, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Interests, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Interests, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Capitalization, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SelectedCapitalization, @Model.Capitalization, "-- Wybierz --", new { @class = "form-control", @id = "capitalizationDropDown" })
                    @Html.ValidationMessageFor(model => model.SelectedCapitalization, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BeginDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BeginDate, new { htmlAttributes = new { @class = "form-control", id = "beginDate" } })
                    @Html.ValidationMessageFor(model => model.BeginDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", id = "endDate" } })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Porównaj" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
@if (Model.Info != null && Model.Info.Any())
{
    <div class="alert alert-warning " id="serverSideValidationInfo">

        @foreach (var item in @Model.Info)
        {
            @Html.Raw(item);
            <br />
        }
    </div>
}
<div class="row">
    <table class="table">
        <tr>
            <th>
                Inwestycja
            </th>
            <th>
                Zysk [zł]
            </th>
        </tr>
        <tr @{if (Model.StockProfit > Model.DepositProfit) {<text>class="success"</text>} }>
            <td>
                Fundusz
            </td>
            <td>
                @Model.StockProfit
            </td>
        </tr>
        <tr @{if (Model.StockProfit < Model.DepositProfit) {<text>class="success"</text>} }>
            <td>
                Lokata
            </td>
            <td>
                @Model.DepositProfit
            </td>
        </tr>
    </table>
</div>
@if (Model.StockRecords != null && Model.DepositRecords != null && Model.StockRecords.Any() && Model.DepositRecords.Any())
{
    <div class="row" id="chart">
        <h4>Wykres wyników funduszu inwestycyjnego i lokaty w wybranym okresie</h4>
        <hr />
        <canvas id="myChart" width="600" height="300"></canvas>
        <script>
            var labelsArray = [];
            var stockDataArray = [];
            var depositDataArray = [];

            pushEmptyValues(labelsArray, stockDataArray, depositDataArray);

            @foreach (var d in Model.StockRecords)
            {
                @:labelsArray.push("@d.Date");
                @:stockDataArray.push("@d.Value");
            }

            @foreach (var d in Model.DepositRecords)
            {
                @:depositDataArray.push("@d.Value");
            }
            pushEmptyValues(labelsArray, stockDataArray, depositDataArray);

            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labelsArray,
                    datasets: [
                        {
                            label: 'Fundusz [zł]',
                            backgroundColor: "rgba(75,192,192,0.1)",
                            borderColor: "rgba(75,192,192,0.1)",
                            pointBackgroundColor: "rgba(75,192,192,0.2)",
                            pointBorderColor: "rgba(75,192,192,0.4)",
                            pointHoverBackgroundColor: "#fff",
                            pointHoverBorderColor: "rgba(75,192,192,1)",
                            fill: false,
                            data: stockDataArray
                        },
                        {
                            label: 'Lokata [zł]',
                            backgroundColor: "rgba(255,99,132,0.1)",
                            borderColor: "rgba(255,99,132,0.1)",
                            pointBackgroundColor: "rgba(255,99,132,0.2)",
                            pointBorderColor: "rgba(255,99,132,0.4)",
                            pointHoverBackgroundColor: "#fff",
                            pointHoverBorderColor: "rgba(255,99,132,1)",
                            fill: false,
                            data: depositDataArray
                        }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            function pushEmptyValues(labelsArray, stockDataArray, depositDataArray) {
                labelsArray.push("");
                stockDataArray.push(null);
                depositDataArray.push(null);
            }
        </script>
    </div>
}
